.verify{
    min-height:60vh;
    display:grid;

}
.verify .spinner{
    width:100px;
    height:100px;
    place-self:centre;
    border:5px solid #bdbabd;
    border-radius:50%;
    border-top-color:5px solid red;
    animation:rotate 1s infinite;

}
@keyframes rotate      {
100%{
    transform:rotate(360deg);
}
}